/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*
{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Start */

body
{
    background: #343D73;
}

.max-width 
{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Navbar Styling */
.navbar 
{
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    background: rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

.navbar .max-width 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a 
{
    color: #fff;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.navbar .logo a span 
{
    color: #343D73;
    transition: all 0.3s ease;
}

.navbar .menu li 
{
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

.navbar .menu li a 
{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.navbar .menu li a:hover 
{
    color: #343D73;
}

.navbar.sticky
{
    background: rgba(0, 0, 0, 0.7);
}

/* Menu Btn Styling */
.menu-btn 
{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Main */
.contact-title
{
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.contact-title h1
{
    font-size: 32px;
    line-height: 60px;
    font-family: 'Roboto', sans-serif;
}

.contact-title h2
{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

form
{
    margin-top: 50px;
    transition: all 4s ease-in-out;
    text-align: center;
}

.form-control
{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

input
{
    height: 45px;
}

form .sumbit
{
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
}

form .sumbit:hover
{
    background-color: #f44336;
    cursor: pointer;
}

/* Media */
@media (max-width: 991px)
{
    .max-width 
    {
        padding: 0 50px;
    }
}

@media (max-width: 1056px) 
{
    
    .menu-btn 
    {
        display: block;
        z-index: 99;
    }
    
    .menu-btn i.active:before
    {
        content: "\f00d";
    }
    
    .navbar .menu
    {
        position: fixed;
        height: 100vh;
        width: 45%;
        right: -45%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    
    .navbar .menu.active
    {
        right: 0;
    }
    
    .navbar .menu li
    {
        display: block;
    }
    
    .navbar .menu li a
    {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    
    .social-1, .social-2
    {
        font-size: 45px;
    }
    
    .max-width
    {
        max-width: 800px;
    }
}

@media (max-width: 744px)
{
    .navbar .menu
    {
        width: 100%;
        right: -100%;
    }
}

@media (max-width: 690px)
{
    max-width 
    {
        padding: 0 23px;
    }
   
}