/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Start */

.max-width 
{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Navbar Styling */
.navbar 
{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

.navbar .max-width 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a 
{
    color: #fff;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.navbar .logo a span 
{
    color: #343D73;
    transition: all 0.3s ease;
}

.navbar .menu li 
{
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

.navbar .menu li a 
{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.navbar .menu li a:hover 
{
    color: #343D73;
}

.navbar.sticky
{
    background: rgba(0, 0, 0, 0.3);
}

/* Menu Btn Styling */
.menu-btn 
{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

header {
    width: 100%;
    height: 800px;
    background-image: url(Fotos/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: left;
    line-height: 1.4;
}

.layer {
    width: 100%;
    height: 800px;
    background-color: rgba(25, 21, 38, 0.5);
}

header h1 {
    font-size: 50px;
    padding-top: 230px;
    padding-left: 150px;
}

header h2 {
    font-size: 50px;
    padding-left: 150px;
}

header h3 {
    font-size: 35px;
    padding-left: 150px;
}

header h3 span
{
    color: #343D73;
}

header a {
    display: block;
    width: 250px;
    height: 25px;
    background-color: #343D73;
    border: 2px solid #343D73;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    margin-left: 150px;
    margin-top: 20px;
    border-radius: 8px;
    transition: all 0.5s ease;
}

header a:hover
{
    background: none;
    color: #343D73;
}

/* Media */
@media (max-width: 991px)
{
    .max-width 
    {
        padding: 0 50px;
    }
}

@media (max-width: 1056px) 
{
    
    .menu-btn 
    {
        display: block;
        z-index: 99;
    }
    
    .menu-btn i.active:before
    {
        content: "\f00d";
    }
    
    .navbar .menu
    {
        position: fixed;
        height: 100vh;
        width: 45%;
        right: -45%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    
    .navbar .menu.active
    {
        right: 0;
    }
    
    .navbar .menu li
    {
        display: block;
    }
    
    .navbar .menu li a
    {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    
    .social-1, .social-2
    {
        font-size: 45px;
    }
    
    .max-width
    {
        max-width: 800px;
    }
    
}

@media (max-width: 822px)
{
    header h3, header h2, header h1
    {
        padding-left: 20px;
    }
    
    header a
    {
        margin-left: 20px;
    }
    
}

@media (max-width: 744px)
{
    .navbar .menu
    {
        width: 100%;
        right: -100%;
    }
}

@media (max-width: 690px)
{
    max-width 
    {
        padding: 0 23px;
    }
   
}