*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'helvetica neue', sans-serif;
  font-weight: bold;
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  color: grey;
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover
{
    color: #0E1E3F;
    background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  width: 65px;
  text-decoration: none;
   padding-top: 5px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 15px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
    
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
    
}

span
{
    font-size: 30px;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}


/* 48em = 768px @ 16pt font */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  } 
    .header li a
    {
        font-size: 20px;
        width: 150px;
        text-align: center;
    }
    
    .kontaktai
    {
        font-size: 20px;
        width: 150px;
        text-align: center;
    }
    
    .logo
    {
        padding-top: 10px;
    }
    
}

/* Header */

section
{
    width: 100%;
    height: 800px;
    background-image: url(Foto/Header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    line-height: 1.4;
}

.layer
{
    width: 100%;
    height: 800px;
    background-color: rgba(25, 21, 38, 0.5);
    animation-name: palikimas;
    animation-duration: 2s;
}

section h1
{
    font-size: 50px;
    padding-top: 150px;
    animation-name: judesys;
    animation-duration: 1s;
    position: relative;
    animation-direction: reverse;
}

section p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    margin: 40px;
    animation-name: judesys;
    animation-duration: 1s;
    position: relative;
    animation-direction: reverse;
}

section a
{
    display: block;
    width: 200px;
    height: 55px;
    background-color: #ca970b;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    padding: 15px;
    margin: 0 auto;
    font-weight: 600;
    animation-name: judesys;
    animation-duration: 1s;
    position: relative;
    animation-direction: reverse;
}

@keyframes judesys
{
    0%
    {
        top: 0;
    }
    
    100%
    {
        top: 200px;
        opacity: 0;
    }
}

/* Mano Darbai */

.manodarbai h1
{
    font-size: 50px;
    padding-top: 50px;
    margin-bottom: 5px;
}

.manodarbai p
{
    font-size: 20px;
    margin-bottom: 50px;
}

.manodarbai
{
    width: 100%;
    height: auto;
    text-align: center;
    background-image: linear-gradient(#d1d1d1, #6b6b6b)
}
.manodarbai div
{
    width: 500px;
    height: 350px;
    display: inline-block;
    margin: 40px;
    position: relative;
}

.manodarbai img
{
    max-width: 450px;
    height: 250px;
    transition: 1s;
}

.manodarbai img:hover
{
    padding: 20px;
}

.manodarbai h3
{
    margin-top: 20px;
    font-size: 23px;
}

@media (max-width: 607px)
{
    .manodarbai img
    {
        max-width: 300px;
        max-height: 200px;
    }
    
    .manodarbai div
    {
        max-width: 300px;
    }
}










































